* {
  box-sizing: border-box;
  margin: 0;
}

.main {
  display: flex;
  height: 100vh;
  margin: 10px;
  width: 100vw;
}

.left {
  background: pink;
  border: 2px solid red;
  display: block;
  height: calc(100vh - 20px);
  overflow-y: scroll;
  padding: 20px;
  position: fixed;
  width: 30%;
}

.right {
  background: aqua;
  border: 2px solid blue;
  display: block;
  height: calc(100vh - 20px);
  left: 30%;
  overflow-y: scroll;
  padding: 20px;
  position: fixed;
  width: 70%;
}